body{
  background: #ecfbfc;
}
  hr {
    background-color: white;
    border-color: grey;
    border-width: 3px;
  height: 0;
  width: 7%;
  border-style: dotted none none;
}

h1 {
  color:  #66BFBF;
}

h3 {
  color:  #66BFBF;
}
  }
